<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xdclass.mapper.VideoOrderMapper">
    <resultMap id="BaseResultMap" type="com.xdclass.pojo.VideoOrder">
        <id column="id" property="id"></id>
        <result column="out_trade_no" property="outTradeNo"></result>
        <result column="state" property="state"></result>
        <result column="create_time" property="createTime"></result>
        <result column="total_fee" property="totalFee"></result>
        <result column="video_id" property="videoId"></result>
        <result column="video_title" property="videoTitle"></result>
        <result column="video_img" property="videoImg"></result>
        <result column="user_id" property="userId"></result>

        <association property="user" javaType="com.xdclass.pojo.User">
            <id property="id"  column="user_id"/>
            <result property="name" column="name"/>
            <result property="headImg" column="head_img"/>
            <result property="createTime" column="create_time"/>
            <result property="phone" column="phone"/>
        </association>

    </resultMap>
    <select id="selectVideoOrderList"  resultMap="BaseResultMap">

        select

         o.id id,
         o.user_id ,
         o.out_trade_no,
         o.create_time,
         o.state,
         o.total_fee,
         o.video_id,
         o.video_title,
         o.video_img,
         u.name,
         u.head_img,
         u.create_time,
         u.phone
         from video_order o left join user u on o.user_id = u.id

    </select>


    <resultMap id="UserOrderResultMap" type="com.xdclass.pojo.User">

        <id property="id"  column="id"/>
        <result property="name" column="name"/>
        <result property="headImg" column="head_img"/>
        <result property="createTime" column="create_time"/>
        <result property="phone" column="phone"/>

        <!--
        property 填写pojo类中集合类属性的名称
        ofType 集合里面的pojo对象
        -->
        <collection property="orderList" ofType="com.xdclass.pojo.VideoOrder">

            <!--配置主键，管理order的唯一标识-->
            <id column="order_id" property="id"/>
            <result column="user_id" property="userId"/>
            <result column="out_trade_no" property="outTradeNo"/>
            <result column="create_time" property="createTime"/>
            <result column="state" property="state"/>
            <result column="total_fee" property="totalFee"/>
            <result column="video_id" property="videoId"/>
            <result column="video_title" property="videoTitle"/>
            <result column="video_img" property="videoImg"/>
        </collection>
    </resultMap>

    <select id="queryUserOrder" resultMap="UserOrderResultMap">
        select
        u.id,
        u.name,
        u.head_img,
        u.create_time,
        u.phone,
        o.id order_id,
        o.out_trade_no,
        o.user_id,
        o.create_time,
        o.state,
        o.total_fee,
        o.video_id,
        o.video_title,
        o.video_img
        from user u left join video_order o on u.id = o.user_id

    </select>

</mapper>